<html>
  <head>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/client.js') }}"></script>
    <script src="{{ url_for('static', filename='jqueryui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jqueryui/jquery.ui-contextmenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqueryui/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqueryui/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqueryui/jquery.contextMenuCommon.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/client.css') }}">
    <script>
      cameraSizeX={{ camera_size[0] }};
      cameraSizeY={{ camera_size[1] }};
      cid="{{ cid }}";
      bufferMax={{ buffer_size }};
      c2sJpeg={{ c2s_jpeg }};

    </script>

  </head>
  <body>
    <div id="container">
    <h1 id="title">{{ nn_type }}</h1>
    <div id="stats">
      <div id="fpsbody"><span>FPS:</span><span id="fps"></span></div>
      <div id="bufferbody"><span>bufffer:</span><span id="buff"></span></div>
    </div>
    <img id="output" >
    <img id="test" >
    <!---<video autoplay="autoplay" controls onerror="onError()">
      <source src="/stream/{{ cid }}/stream">
    </video>-->
    <canvas id="smallCanvas" widht="{{ camera_size[0] }}" height="{{ camera_size[1] }}" style="visibility: hidden;"></canvas>
    <br>
    <video autoplay="true" id="videoElement" style="visibility: hidden;"></video>
    </div>
    <div id="background"></div>
  </body>
</html>
